.custom-icon ion-icon.md.hydrated {
  color: lightseagreen;
  font-size: 20px;
}
.custom-blog ion-icon.md.hydrated {
  color: lightseagreen;
  font-size: 20px;
}
.custom-delete ion-icon.md.hydrated {
  color: lightseagreen;
  font-size: 20px;
}
.logout-btn ion-icon.md.hydrated {
  font-size: 40px;
}
